.DS_Store
_site
.ipynb_checkpoints


0_Intro2Python/Notebooks/ScatteredData+Triangulation/*.png
0_Intro2Python/Notebooks/Mapping/*.png
0_Intro2Python/Notebooks/Mapping/*.jpg
0_Intro2Python/Notebooks/SphericalMeshing/SphericalTriangulations/*.png
0_Intro2Python/Notebooks/SphericalMeshing/CartesianTriangulations/*.png
0_Intro2Python/Notebooks/SphericalMeshing/Litho1pt0/*.png
0_Intro2Python/Notebooks/Numpy+Scipy/*png

# In case this one gets cloned by mistake

OldCourseContent/Notebooks/Introduction2VersionControl/shared-sandbox
